$color-font-title: #1a5377;
$color-font-comment: #01779e;
$color-main-bg: #fff;
$color-main: #eefcff;
$color-main-border: #ccebf1;
$blue: $color-font-comment;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "main";
@import "components";


